html {
    background-image: url("background.png")!important;
}

.page-header {
    background-color: white;
    height: 15%;
    display: box;
}


a {
    color: #777777;
    text-decoration: none;
}

a:hover {
    color: #4aaaa5;
    text-decoration: none;
}

.Links {
    text-align: center;
    height: 20%;
    vertical-align: center;
    z-index: 1;
    font-size: 130%;
    color: #777777;
    display: block;
    background-color: white;
    width: 100%;
    line-height: middle;
    background-height: white;
    padding: 6%;
}

.nick {
    display: block;
    color: white;
    background-color: #4aaaa5;
    font-size: 175%;
    overflow: visible;
    position: relative;
    top: -20px;
    height: 106%;
    padding: 6%;
    vertical-align: middle;
    text-align: center;
    line-height: 80px;
    z-index: 1;
    border-top-bottom: solid 1px lightgray;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.aboutMe {



    background-color: white;
    width: 110%;
    height: 100%;
    padding: 20px;

    z-index: -0.5;

    border: solid 1px #dddddd;
    color: #4aaaa5;

    resize: none;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.aboutMe2 {
    background-color: white;
    width: 110%;
    height: 60%;
    padding: 20px;

    z-index: -10;

    border: solid 1px #dddddd;
    color: #4aaaa5;

    resize: none;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.aboutMe3 {
    background-color: white;
    width: 110%;
    height: 100%;
    padding: 20px;

    z-index: -10;

    border: solid 1px #dddddd;
    color: #4aaaa5;

    resize: none;
    font-family: 'Georgia', Times, Times New Roman, serif;
}


.show {
    display: block !important;
}

.hidden {
    display: none !important;
}

.Connect {



    font-size: 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: white;
    border: solid 1px lightgray;
    width: 100%;
    height: 30%;
    padding: 4%;
    text-align: center;
    color: #4aaaa5;
    position: relative;
    top: -500px;
}

.Connect2 {
    font-size: 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: white;
    margin: 3%;
    border: solid 1px lightgray;
    width: 100%;
    left: 10px;
    height: 30%;
    padding: 4%;
    text-align: center;
    color: #4aaaa5;
    position: relative;
    top: -300px;
}

.Connect3 {
    font-size: 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: white;
    margin: 3%;
    border: solid 1px lightgray;
    width: 100%;
    height: 34%;
    left: 10px;


    padding: 4%;
    text-align: center;
    color: #4aaaa5;
    position: relative;
    top: 30px;
}

.Connect4 {
    font-size: 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: white;
    margin: 3%;
    border: solid 1px lightgray;
    width: 100%;
    height: 34%;
    left: 10px;


    padding: 4%;
    text-align: center;
    color: #4aaaa5;
    position: relative;
    top: 10px;
}

#ArushiPhoto {

    position: relative;
    top: -400px;
    left: 20px;
    padding: 1px;
    float: left;
}

#ArushiPhoto2 {

    position: relative;
    bottom: 300px;
    left: 40px;
    width: 200;
    height: 200;
    padding: 1px;
    float: left;
    z-index: 1000;
}

#ArushiPhoto3 {

    position: relative;
    bottom: 550px;
    left: 70px;
    width: 200;
    height: 200;
    padding: 1px;
    float: left;
    z-index: 1000;
}

#linkedin {

    position: relative;
    left: -10%;

    width: 70px;
    height: 70px;
    z-index: 10;
    padding: 1%;
}

#github {

    position: relative;
    bottom: 52%;
    left: 0%;
    width: 70px;
    height: 70px;
    z-index: 10;
    padding: 1%;
}

#stackoverflow {

    position: relative;
    bottom: 52%;
    left: 9%;
    width: 70px;
    height: 70px;
    z-index: 10;
    padding: 1%;
}


.footer {


    text-align: center;
    background: #666666;
    color: white;
    margin-top: -2px;
    border-top: #4aaaa5 solid 10px;
}